nav {
    width: 100%;
    font-size: 2em;
    font-family: Montserrat, sans-serif !important;
    background-color: var(--ui-color);
    display: flex; /* Aligns side by side on desktop */
    justify-content: center; /* Centers the items horizontally */
}

.menu-item {
    text-align: center;
    padding: 20px;
    align-items: center; /* Centers content within each item */
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.menu-item a:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out 0.1s;
    text-decoration: none !important;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) { /* Use max-width for mobile */
    nav {
        flex-direction: column; /* Stacks the divs vertically */
        align-items: center; /* Centers the stacked divs */
    }

    .menu-item {
        width: 100%; /* Make each item take full width on mobile */
        padding: 10px; /* Adjust spacing for mobile */
    }
}
