nav {
    width: 100%;
    box-shadow: var(--lg-shadow);
    font-size: 30px;
    font-family: Montserrat, sans-serif !important;
    display: flex;
    justify-content: space-evenly; /* Evenly spaced items by default */
    background-color: var(--ui-color);
}

.menu-item {
    text-align: center;
    padding: 20px;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.menu-item a:hover {
    color: white;
    transform: scale(0.5);
    transition: all 0.3s ease-in-out 0.2s;
}

/* Mobile-specific styles */
@media screen and (min-width: 768px) {
    nav {
        flex-direction: column; /* Stacks the divs vertically */
        align-items: center; /* Centers the stacked divs */
    }

    .menu-item {
        width: 100%; /* Make each div take full width */
        padding: 5px; /* Adjust spacing for mobile */
    }
}
