
el-home {
    flex-grow: 1;
    display: flex;
    line-height: auto;
    background-color:rgb(172, 172, 172);
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 20px;
}

.content-slate section {

    width:900px;
}