
el-home {
    flex-grow: 1;
    display: flex;
    line-height: auto;
    background-color:rgb(172, 172, 172);
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 20px;
}

.content-slate section {

    width:100%;
}


/* MOBILE FIRST! */
@media screen and (min-width: 768px) {
    .content-slate {
        margin: 0;
    }
    .content-slate section {
        padding: 1rem 1rem;
    }

    p {

        font-size: 2.5vw;
        line-height: 1.8em;
    }
}